Repository Compass-Brand/compass-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

.pre-commit-config.yaml:

minimum_pre_commit_version: '3.7.0'
default_install_hook_types:
  - pre-commit
  - pre-push
default_stages:
  - pre-commit
  - pre-push
exclude: '(^reference/BMAD/research/|^\.claude-trace/|.*/fixtures/)'

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: f1dff44d3a9ae852957f34def96390f28719c232
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=1500']
      - id: check-merge-conflict
      - id: check-json
      - id: check-toml
      - id: check-yaml
        args: ['--unsafe']
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: detect-private-key

  - repo: https://github.com/asottile/sync-pre-commit-deps
    rev: b2964743b1b4a91d552634874cb3ae4b2bd5e7e5
    hooks:
      - id: sync-pre-commit-deps

  - repo: https://github.com/asottile/pyupgrade
    rev: 369aea6489e38ca74a18df494f191857ba484950
    hooks:
      - id: pyupgrade
        args: ['--py311-plus']

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 0839f92796ae388643a08a21640a029b322be5c2
    hooks:
      - id: ruff-check
        args: ['--config=.ruff.toml', '--fix', '--exit-non-zero-on-fix']
      - id: ruff-format
        args: ['--config=.ruff.toml']

  - repo: https://github.com/PyCQA/isort
    rev: b5f06a7b1d53b7b561f00f40f814ef1698864bac
    hooks:
      - id: isort
        args: ['--settings-path=.isort.cfg']

  - repo: https://github.com/adrienverge/yamllint
    rev: 30a25fe087e31d0345be0ffed4360e4651a44b6e
    hooks:
      - id: yamllint
        args: ['-c=.yamllint.yaml', '--strict']
        types: [yaml]

  - repo: https://github.com/gitleaks/gitleaks
    rev: 8d1f98c7967eb1e79cb44ac6241a124e145d2165
    hooks:
      - id: gitleaks
        args: ['--config=.gitleaks.toml']

  - repo: https://github.com/codespell-project/codespell
    rev: 583d8796d92eb58e15072db03e5b756be45f638a
    hooks:
      - id: codespell
        args: ['--config=.codespellrc']

  - repo: https://github.com/biomejs/pre-commit
    rev: 8022786b4bd23c782070145e1052f3a4cd0560ec
    hooks:
      - id: biome-ci
        args: ['--config-path=biome.json']
        files: "\\.(js|mjs|cjs|jsx|ts|tsx|json|jsonc)$"
        exclude: '^src/root/'

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: 61da922d8f906b1e377cf21f0db0a3b2b2c6d311
    hooks:
      - id: markdownlint
        args: ['--config=.markdownlint.yaml']

  - repo: local
    hooks:
      - id: pylint
        name: pylint (system, manual)
        language: system
        entry: pylint --errors-only --rcfile=.pylintrc
        types: [python]
        stages: [manual]

      - id: dotenv-linter
        name: dotenv-linter (system, manual)
        language: system
        entry: dotenv-linter
        files: "(^|/)\\.env(\\..*)?$"
        stages: [manual]

      - id: eslint
        name: eslint
        language: node
        entry: eslint --max-warnings=0 --config .eslint.config.mjs
        files: "\\.(js|mjs|cjs|jsx|ts|tsx)$"
        additional_dependencies:
          - eslint@9.39.1

      - id: prettier
        name: prettier
        language: node
        entry: prettier --check
        files: "\\.(ya?ml|md)$"
        additional_dependencies:
          - prettier@3.6.2

  - repo: https://github.com/rhysd/actionlint
    rev: 125110ee35450eb98e1585be217a495c12d9666a
    hooks:
      - id: actionlint

  - repo: https://github.com/ansible/ansible-lint
    rev: ab4190674c046dbb11685c2b35feaf822dc1259e
    hooks:
      - id: ansible-lint
        always_run: false
        pass_filenames: false
        language_version: python3
        args: ['--profile=basic']
        files: "(^|/)(playbooks|roles|ansible)/|(^|/)ansible\\.cfg$"

  - repo: https://github.com/bridgecrewio/checkov
    rev: d175b3722045457e23d2701a1ab15ee8f4634f47
    hooks:
      - id: checkov
        pass_filenames: false
        args: ['-d', '.', '--config-file=.checkov.yaml']
        stages: [manual]

chore(beads): normalize issues.jsonl key order via pre-commit hook
  .beads/issues.jsonl
Due: none

test(quick-dev): add epic-scan helpers + step-01 structural tests
  .beads/issues.jsonl
  package.json
  test/bmad/quick-dev/epic-scan.test.js
  test/bmad/quick-dev/step-01-structure.test.js
  tools/quick-dev-scan.js
Due: eslint

feat(bmad): findPreviousStoryDone continuity helper (bmad-engine-tkpg)
  test/bmad/quick-dev/continuity.test.js
  tools/quick-dev-scan.js
Due: eslint

feat(bmad): port compile-epic-context sub-agent task into custom bmad-quick-dev
  src/bmad/modules/custom/bmm-skills/4-implementation/bmad-quick-dev/compile-epic-context.md
Due: prettier

feat(bmad): wire continuity_context bullets into step-02/03 (bmad-engine-tkpg)
  src/bmad/modules/custom/bmm-skills/4-implementation/bmad-quick-dev/steps/step-02-context-gathering.md
  src/bmad/modules/custom/bmm-skills/4-implementation/bmad-quick-dev/steps/step-03-execute.md
Due: prettier

test(quick-dev): RED findPreviousStoryDone continuity helper (bmad-engine-tkpg)
  .beads/issues.jsonl
  test/bmad/quick-dev/continuity.test.js
Due: eslint

feat(bmad): wire epic context into quick-dev step-02 + step-03 with precedence
  src/bmad/modules/custom/bmm-skills/4-implementation/bmad-quick-dev/steps/step-01-mode-detection.md
  src/bmad/modules/custom/bmm-skills/4-implementation/bmad-quick-dev/steps/step-02-context-gathering.md
  src/bmad/modules/custom/bmm-skills/4-implementation/bmad-quick-dev/steps/step-03-execute.md
Due: prettier

chore(beads): close bmad-engine-tkpg after PR #111 opened
  .beads/issues.jsonl
Due: none

chore(beads): close bmad-engine-zeml after PR #110 opened
  .beads/issues.jsonl
Due: none

ci(quality-checks): checkout submodules for unit tests
  .beads/issues.jsonl
  .github/workflows/quality-checks.yml
  src/github/workflows/quality-checks.yml
Due: prettier

test(quick-dev): add epic-scan helpers + step-01 structural tests
  .beads/issues.jsonl
Due: none

docs(quick-dev): document status:done write-back lifecycle (bmad-engine-a0iq)
  docs/development/bmad/quick-spec-quick-dev.md
  src/bmad/modules/custom/compass-skills/4-implementation/bmad-compass-quick-spec/SKILL.md
Due: prettier

feat(quick-dev): selectPlanningArtifacts relevance helper (bmad-engine-a0iq)
  tools/quick-dev-scan.js
Due: eslint

feat(quick-dev): step-07-spec-trace + step-oneshot + shared review-order template (bmad-engine-a0iq)
  src/bmad/modules/custom/bmm-skills/4-implementation/bmad-quick-dev/steps/step-06-resolve-findings.md
  src/bmad/modules/custom/bmm-skills/4-implementation/bmad-quick-dev/steps/step-07-spec-trace.md
  src/bmad/modules/custom/bmm-skills/4-implementation/bmad-quick-dev/steps/step-oneshot.md
  src/bmad/modules/custom/bmm-skills/4-implementation/bmad-quick-dev/suggested-review-order.md
Due: prettier

test(quick-dev): RED selectPlanningArtifacts planning-awareness helper (bmad-engine-a0iq)
  .beads/issues.jsonl
  test/bmad/quick-dev/planning-awareness.test.js
Due: eslint

test(quick-dev): RED generateSpecTrace helper (bmad-engine-a0iq)
  test/bmad/quick-dev/oneshot-trace.test.js
Due: eslint

chore(beads): close bmad-engine-a0iq after PR #112 opened
  .beads/issues.jsonl
Due: none

feat(quick-dev): generateSpecTrace helper for status:done write-back (bmad-engine-a0iq)
  tools/quick-dev-scan.js
Due: eslint

feat(quick-dev): add [O] One-shot route option to Mode B (bmad-engine-a0iq)
  src/bmad/modules/custom/bmm-skills/4-implementation/bmad-quick-dev/steps/step-01-mode-detection.md
Due: prettier
