Repository Compass-Brand/compass-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

.pre-commit-config.yaml:

minimum_pre_commit_version: '3.7.0'
default_install_hook_types:
  - pre-commit
  - pre-push
default_stages:
  - pre-commit
  - pre-push
exclude: '(^reference/BMAD/research/|^\.claude-trace/|.*/fixtures/)'

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: f1dff44d3a9ae852957f34def96390f28719c232
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=1500']
      - id: check-merge-conflict
      - id: check-json
      - id: check-toml
      - id: check-yaml
        args: ['--unsafe']
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: detect-private-key

  - repo: https://github.com/asottile/sync-pre-commit-deps
    rev: b2964743b1b4a91d552634874cb3ae4b2bd5e7e5
    hooks:
      - id: sync-pre-commit-deps

  - repo: https://github.com/asottile/pyupgrade
    rev: 369aea6489e38ca74a18df494f191857ba484950
    hooks:
      - id: pyupgrade
        args: ['--py311-plus']

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 0839f92796ae388643a08a21640a029b322be5c2
    hooks:
      - id: ruff-check
        args: ['--config=.ruff.toml', '--fix', '--exit-non-zero-on-fix']
      - id: ruff-format
        args: ['--config=.ruff.toml']

  - repo: https://github.com/PyCQA/isort
    rev: b5f06a7b1d53b7b561f00f40f814ef1698864bac
    hooks:
      - id: isort
        args: ['--settings-path=.isort.cfg']

  - repo: https://github.com/adrienverge/yamllint
    rev: 30a25fe087e31d0345be0ffed4360e4651a44b6e
    hooks:
      - id: yamllint
        args: ['-c=.yamllint.yaml', '--strict']
        types: [yaml]

  - repo: https://github.com/gitleaks/gitleaks
    rev: 8d1f98c7967eb1e79cb44ac6241a124e145d2165
    hooks:
      - id: gitleaks
        args: ['--config=.gitleaks.toml']

  - repo: https://github.com/codespell-project/codespell
    rev: 583d8796d92eb58e15072db03e5b756be45f638a
    hooks:
      - id: codespell
        args: ['--config=.codespellrc']

  - repo: https://github.com/biomejs/pre-commit
    rev: 8022786b4bd23c782070145e1052f3a4cd0560ec
    hooks:
      - id: biome-ci
        args: ['--config-path=biome.json']
        files: "\\.(js|mjs|cjs|jsx|ts|tsx|json|jsonc)$"
        exclude: '^src/root/'

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: 61da922d8f906b1e377cf21f0db0a3b2b2c6d311
    hooks:
      - id: markdownlint
        args: ['--config=.markdownlint.yaml']

  - repo: local
    hooks:
      - id: pylint
        name: pylint (system, manual)
        language: system
        entry: pylint --errors-only --rcfile=.pylintrc
        types: [python]
        stages: [manual]

      - id: dotenv-linter
        name: dotenv-linter (system, manual)
        language: system
        entry: dotenv-linter
        files: "(^|/)\\.env(\\..*)?$"
        stages: [manual]

      - id: eslint
        name: eslint
        language: node
        entry: eslint --max-warnings=0 --config .eslint.config.mjs
        files: "\\.(js|mjs|cjs|jsx|ts|tsx)$"
        additional_dependencies:
          - eslint@9.39.1

      - id: prettier
        name: prettier
        language: node
        entry: prettier --check
        files: "\\.(ya?ml|md)$"
        additional_dependencies:
          - prettier@3.6.2

  - repo: https://github.com/rhysd/actionlint
    rev: 125110ee35450eb98e1585be217a495c12d9666a
    hooks:
      - id: actionlint

  - repo: https://github.com/ansible/ansible-lint
    rev: ab4190674c046dbb11685c2b35feaf822dc1259e
    hooks:
      - id: ansible-lint
        always_run: false
        pass_filenames: false
        language_version: python3
        args: ['--profile=basic']
        files: "(^|/)(playbooks|roles|ansible)/|(^|/)ansible\\.cfg$"

  - repo: https://github.com/bridgecrewio/checkov
    rev: d175b3722045457e23d2701a1ab15ee8f4634f47
    hooks:
      - id: checkov
        pass_filenames: false
        args: ['-d', '.', '--config-file=.checkov.yaml']
        stages: [manual]

fix: tighten 5 BMAD workflow behaviors for delivery-repo accuracy (#69)
  .beads/issues.jsonl
  reference/BMAD/modules/custom/bmm/workflows/2-plan-workflows/create-prd/steps-c/step-12-complete.md
  reference/BMAD/modules/native/bmm/workflows/2-plan-workflows/create-prd/steps-c/step-12-complete.md
  src/bmad/modules/custom/bmm/workflows/2-plan-workflows/create-prd/steps-c/step-01-init.md
  src/bmad/modules/custom/bmm/workflows/2-plan-workflows/create-prd/steps-c/step-12-complete.md
  src/bmad/modules/custom/bmm/workflows/3-solutioning/create-architecture/steps/step-02-context.md
  src/bmad/modules/custom/bmm/workflows/3-solutioning/create-epics-and-stories/steps/step-04-final-validation.md
  src/bmad/modules/custom/bmm/workflows/3-solutioning/create-epics-and-stories/templates/epics-template.md
  src/bmad/modules/custom/bmm/workflows/3-solutioning/create-epics-and-stories/workflow.md
  src/bmad/modules/custom/bmm/workflows/planning/init-planning/checklist.md
  src/bmad/modules/custom/bmm/workflows/planning/init-planning/instructions.md
  src/bmad/modules/native/bmm/workflows/2-plan-workflows/create-prd/steps-c/step-01-init.md
  src/bmad/modules/native/bmm/workflows/2-plan-workflows/create-prd/steps-c/step-12-complete.md
  src/bmad/modules/native/bmm/workflows/3-solutioning/create-architecture/steps/step-02-context.md
  src/bmad/modules/native/bmm/workflows/3-solutioning/create-epics-and-stories/steps/step-04-final-validation.md
  src/bmad/modules/native/bmm/workflows/3-solutioning/create-epics-and-stories/templates/epics-template.md
  src/bmad/modules/native/bmm/workflows/3-solutioning/create-epics-and-stories/workflow.md
Due: prettier

feat(oversight): add oversight config variables
  .beads/issues.jsonl
  src/bmad/modules/custom/bmm/config.yaml
Due: prettier

feat(oversight): add risk and assumption YAML templates
  src/planning/templates/oversight/assumptions.yaml
  src/planning/templates/oversight/risks.yaml
Due: prettier

feat(oversight): add oversight-checkpoint verification workflow
  src/bmad/modules/custom/bmm/workflows/0-governance/oversight-checkpoint/workflow.md
Due: prettier

feat(oversight): add checkpoint triggers at gate approvals and story completion
  src/bmad/modules/custom/bmm/workflows/4-implementation/sprint-status/instructions.md
  src/bmad/modules/native/bmm/workflows/4-implementation/sprint-status/instructions.md
  src/bmad/tools/automation/commands/auto-plan.md
Due: prettier

feat(oversight): add risk/assumption capture rules to decision workflows
  src/bmad/modules/custom/bmm/workflows/1-analysis/create-product-brief/steps/step-06-complete.md
  src/bmad/modules/custom/bmm/workflows/2-plan-workflows/create-prd/steps-c/step-12-complete.md
  src/bmad/modules/custom/bmm/workflows/3-solutioning/create-architecture/steps/step-08-complete.md
  src/bmad/modules/custom/bmm/workflows/3-solutioning/create-epics-and-stories/steps/step-04-final-validation.md
  src/bmad/modules/custom/bmm/workflows/4-implementation/dev-story/instructions.xml
  src/bmad/modules/native/bmm/workflows/1-analysis/create-product-brief/steps/step-06-complete.md
  src/bmad/modules/native/bmm/workflows/2-plan-workflows/create-prd/steps-c/step-12-complete.md
  src/bmad/modules/native/bmm/workflows/3-solutioning/create-architecture/steps/step-08-complete.md
  src/bmad/modules/native/bmm/workflows/3-solutioning/create-epics-and-stories/steps/step-04-final-validation.md
  src/bmad/modules/native/bmm/workflows/4-implementation/dev-story/instructions.xml
Due: prettier

feat(oversight): add oversight-checkpoint command for Claude and OpenCode
  src/claude/commands/bmad/bmad-bmm-oversight-checkpoint.md
  src/opencode/commands/bmad/bmad-bmm-oversight-checkpoint.md
Due: prettier

feat(oversight): scaffold oversight directory in init-planning
  src/bmad/modules/custom/bmm/workflows/planning/init-planning/instructions.md
  src/bmad/modules/custom/bmm/workflows/planning/init-planning/workflow.yaml
Due: prettier

feat(oversight): register oversight-checkpoint in workflow manifest
  src/bmad/_config/workflow-manifest.csv
  src/bmad/modules/custom/bmm/module-help.csv
Due: none

docs: add oversight substrate implementation plan
  docs/plans/2026-04-02-oversight-substrate.md
Due: prettier

chore: sync beads after closing bmad-engine-lny
  .beads/issues.jsonl
Due: none

feat: add optional oversight substrate for BMAD (#70)
  .beads/issues.jsonl
  docs/plans/2026-04-02-oversight-substrate.md
  src/bmad/_config/workflow-manifest.csv
  src/bmad/modules/custom/bmm/config.yaml
  src/bmad/modules/custom/bmm/module-help.csv
  src/bmad/modules/custom/bmm/workflows/0-governance/oversight-checkpoint/workflow.md
  src/bmad/modules/custom/bmm/workflows/1-analysis/create-product-brief/steps/step-06-complete.md
  src/bmad/modules/custom/bmm/workflows/2-plan-workflows/create-prd/steps-c/step-12-complete.md
  src/bmad/modules/custom/bmm/workflows/3-solutioning/create-architecture/steps/step-08-complete.md
  src/bmad/modules/custom/bmm/workflows/3-solutioning/create-epics-and-stories/steps/step-04-final-validation.md
  src/bmad/modules/custom/bmm/workflows/4-implementation/dev-story/instructions.xml
  src/bmad/modules/custom/bmm/workflows/4-implementation/sprint-status/instructions.md
  src/bmad/modules/custom/bmm/workflows/planning/init-planning/instructions.md
  src/bmad/modules/custom/bmm/workflows/planning/init-planning/workflow.yaml
  src/bmad/modules/native/bmm/workflows/1-analysis/create-product-brief/steps/step-06-complete.md
  src/bmad/modules/native/bmm/workflows/2-plan-workflows/create-prd/steps-c/step-12-complete.md
  src/bmad/modules/native/bmm/workflows/3-solutioning/create-architecture/steps/step-08-complete.md
  src/bmad/modules/native/bmm/workflows/3-solutioning/create-epics-and-stories/steps/step-04-final-validation.md
  src/bmad/modules/native/bmm/workflows/4-implementation/dev-story/instructions.xml
  src/bmad/modules/native/bmm/workflows/4-implementation/sprint-status/instructions.md
  src/bmad/tools/automation/commands/auto-plan.md
  src/claude/commands/bmad/bmad-bmm-oversight-checkpoint.md
  src/opencode/commands/bmad/bmad-bmm-oversight-checkpoint.md
  src/planning/templates/oversight/assumptions.yaml
  src/planning/templates/oversight/risks.yaml
Due: prettier

feat: add ingest-whitepapers workflow for BMAD analysis phase
  src/bmad/modules/custom/bmm/workflows/1-analysis/ingest-whitepapers/workflow.md
Due: prettier

feat: add ingest-whitepapers command for Claude and OpenCode
  src/claude/commands/bmad/bmad-bmm-ingest-whitepapers.md
  src/opencode/commands/bmad/bmad-bmm-ingest-whitepapers.md
Due: prettier

feat: register ingest-whitepapers in workflow manifest and help
  src/bmad/_config/workflow-manifest.csv
  src/bmad/modules/custom/bmm/module-help.csv
Due: none

feat: add whitepaper digest discovery to PRD init
  src/bmad/modules/custom/bmm/workflows/2-plan-workflows/create-prd/steps-c/step-01-init.md
  src/bmad/modules/native/bmm/workflows/2-plan-workflows/create-prd/steps-c/step-01-init.md
Due: prettier

feat: add whitepaper digest discovery to product brief init
  src/bmad/modules/custom/bmm/workflows/1-analysis/create-product-brief/steps/step-01-init.md
  src/bmad/modules/native/bmm/workflows/1-analysis/create-product-brief/steps/step-01-init.md
Due: prettier

docs: add whitepaper ingestion implementation plan
  docs/plans/2026-04-03-whitepaper-ingestion.md
Due: prettier

feat: add optional whitepaper ingestion to BMAD analysis phase (#71)
  docs/plans/2026-04-03-whitepaper-ingestion.md
  src/bmad/_config/workflow-manifest.csv
  src/bmad/modules/custom/bmm/module-help.csv
  src/bmad/modules/custom/bmm/workflows/1-analysis/create-product-brief/steps/step-01-init.md
  src/bmad/modules/custom/bmm/workflows/1-analysis/ingest-whitepapers/workflow.md
  src/bmad/modules/custom/bmm/workflows/2-plan-workflows/create-prd/steps-c/step-01-init.md
  src/bmad/modules/native/bmm/workflows/1-analysis/create-product-brief/steps/step-01-init.md
  src/bmad/modules/native/bmm/workflows/2-plan-workflows/create-prd/steps-c/step-01-init.md
  src/claude/commands/bmad/bmad-bmm-ingest-whitepapers.md
  src/opencode/commands/bmad/bmad-bmm-ingest-whitepapers.md
Due: prettier

fix(init-planning): make oversight scaffold a distinct step with critical tag
  src/bmad/modules/custom/bmm/workflows/planning/init-planning/checklist.md
  src/bmad/modules/custom/bmm/workflows/planning/init-planning/instructions.md
Due: prettier

fix(init-planning): make oversight scaffold a distinct step (#72)
  src/bmad/modules/custom/bmm/workflows/planning/init-planning/checklist.md
  src/bmad/modules/custom/bmm/workflows/planning/init-planning/instructions.md
Due: prettier

chore(bmad): remove stale command files no longer in bmad-help.csv
  .beads/issues.jsonl
  src/claude/commands/bmad/bmad-bmm-ingest-whitepapers.md
  src/claude/commands/bmad/bmad-bmm-oversight-checkpoint.md
  src/opencode/commands/bmad/bmad-bmm-ingest-whitepapers.md
  src/opencode/commands/bmad/bmad-bmm-oversight-checkpoint.md
Due: prettier

feat(bmad): integrate excalidraw diagram workflows from upstream
  .beads/issues.jsonl
  src/bmad/_config/bmad-help.csv
  src/bmad/_config/workflow-manifest.csv
  src/bmad/modules/custom/bmm/module-help.csv
  src/bmad/modules/native/bmm/workflows/excalidraw-diagrams/_shared/excalidraw-library.json
  src/bmad/modules/native/bmm/workflows/excalidraw-diagrams/_shared/excalidraw-templates.yaml
  src/bmad/modules/native/bmm/workflows/excalidraw-diagrams/create-dataflow/checklist.md
  src/bmad/modules/native/bmm/workflows/excalidraw-diagrams/create-dataflow/instructions.md
  src/bmad/modules/native/bmm/workflows/excalidraw-diagrams/create-dataflow/workflow.yaml
  src/bmad/modules/native/bmm/workflows/excalidraw-diagrams/create-diagram/checklist.md
  src/bmad/modules/native/bmm/workflows/excalidraw-diagrams/create-diagram/instructions.md
  src/bmad/modules/native/bmm/workflows/excalidraw-diagrams/create-diagram/workflow.yaml
  src/bmad/modules/native/bmm/workflows/excalidraw-diagrams/create-flowchart/checklist.md
  src/bmad/modules/native/bmm/workflows/excalidraw-diagrams/create-flowchart/instructions.md
  src/bmad/modules/native/bmm/workflows/excalidraw-diagrams/create-flowchart/workflow.yaml
  src/bmad/modules/native/bmm/workflows/excalidraw-diagrams/create-wireframe/checklist.md
  src/bmad/modules/native/bmm/workflows/excalidraw-diagrams/create-wireframe/instructions.md
  src/bmad/modules/native/bmm/workflows/excalidraw-diagrams/create-wireframe/workflow.yaml
  src/bmad/modules/native/core/resources/excalidraw/README.md
  src/bmad/modules/native/core/resources/excalidraw/excalidraw-helpers.md
  src/bmad/modules/native/core/resources/excalidraw/library-loader.md
  src/bmad/modules/native/core/resources/excalidraw/validate-json-instructions.md
  src/claude/commands/bmad/README.md
  src/claude/commands/bmad/bmad-bmm-create-excalidraw-dataflow.md
  src/claude/commands/bmad/bmad-bmm-create-excalidraw-diagram.md
  src/claude/commands/bmad/bmad-bmm-create-excalidraw-flowchart.md
  src/claude/commands/bmad/bmad-bmm-create-excalidraw-wireframe.md
  src/claude/skills/bmad-method/references/command-catalog.md
  src/codex/skills/bmad-method/references/command-catalog.md
  src/opencode/commands/bmad/README.md
  src/opencode/commands/bmad/bmad-bmm-create-excalidraw-dataflow.md
  src/opencode/commands/bmad/bmad-bmm-create-excalidraw-diagram.md
  src/opencode/commands/bmad/bmad-bmm-create-excalidraw-flowchart.md
  src/opencode/commands/bmad/bmad-bmm-create-excalidraw-wireframe.md
Due: prettier

refactor(bmad): rename name-based agent files to purpose-based
  .beads/issues.jsonl
  src/bmad/_config/agent-manifest.csv
  src/bmad/_config/bmad-help.csv
  src/bmad/modules/custom/bmm/agents/wds-analyst.agent.yaml
  src/bmad/modules/custom/bmm/agents/wds-designer.agent.yaml
  src/bmad/modules/custom/bmm/module-help.csv
  src/claude/commands/bmad/README.md
  src/claude/commands/bmad/bmad-wds-outline-scenarios.md
  src/claude/commands/bmad/bmad-wds-trigger-mapping.md
  src/claude/skills/bmad-method/references/command-catalog.md
  src/codex/skills/bmad-method/references/command-catalog.md
  src/opencode/commands/bmad/README.md
  src/opencode/commands/bmad/bmad-wds-outline-scenarios.md
  src/opencode/commands/bmad/bmad-wds-trigger-mapping.md
Due: prettier

docs(bmad): create agent profile .md files referenced by manifest
  .beads/issues.jsonl
  src/bmad/modules/custom/bmm/agents/analyst.md
  src/bmad/modules/custom/bmm/agents/architect.md
  src/bmad/modules/custom/bmm/agents/creative-problem-solver.md
  src/bmad/modules/custom/bmm/agents/design-thinking-coach.md
  src/bmad/modules/custom/bmm/agents/dev.md
  src/bmad/modules/custom/bmm/agents/innovation-strategist.md
  src/bmad/modules/custom/bmm/agents/pm.md
  src/bmad/modules/custom/bmm/agents/qa.md
  src/bmad/modules/custom/bmm/agents/quick-flow-solo-dev.md
  src/bmad/modules/custom/bmm/agents/security-architect.md
  src/bmad/modules/custom/bmm/agents/sm.md
  src/bmad/modules/custom/bmm/agents/tea.md
  src/bmad/modules/custom/bmm/agents/tech-writer.md
  src/bmad/modules/custom/bmm/agents/threat-analyst.md
  src/bmad/modules/custom/bmm/agents/ux-designer.md
  src/bmad/modules/custom/bmm/agents/wds-analyst.md
  src/bmad/modules/custom/bmm/agents/wds-designer.md
  src/bmad/modules/custom/core/agents/bmad-master.md
Due: prettier

docs: add implementation plan for BMAD src audit fixes
  .beads/issues.jsonl
  docs/plans/2026-04-06-bmad-src-audit-fixes.md
Due: prettier

chore: sync beads issue tracker
  .beads/issues.jsonl
Due: none

fix: update BMAD-METHOD submodule pointer and correct push.js paths
  tools/push.js
Due: eslint

fix(bmad): address src audit followup findings
  src/bmad/_config/bmad-help.csv
  src/bmad/modules/custom/core/module-help.csv
  src/bmad/modules/native/core/module-help.csv
  src/claude/commands/bmad/bmad-autonomous-refinement-loop.md
  src/claude/commands/bmad/bmad-party-mode.md
  src/index.js
  src/opencode/commands/bmad/bmad-autonomous-refinement-loop.md
  src/opencode/commands/bmad/bmad-party-mode.md
  src/scripts/workflow/install-git-hooks.sh
  tools/push.js
Due: eslint, prettier

fix(bmad): address src audit followup findings (#74)
  src/bmad/_config/bmad-help.csv
  src/bmad/modules/custom/core/module-help.csv
  src/bmad/modules/native/core/module-help.csv
  src/claude/commands/bmad/bmad-autonomous-refinement-loop.md
  src/claude/commands/bmad/bmad-party-mode.md
  src/index.js
  src/opencode/commands/bmad/bmad-autonomous-refinement-loop.md
  src/opencode/commands/bmad/bmad-party-mode.md
  src/scripts/workflow/install-git-hooks.sh
  tools/push.js
Due: eslint, prettier

docs: add BMAD upstream migration design document
  docs/plans/2026-04-06-bmad-upstream-migration-design.md
Due: prettier

docs: add Phase 1 implementation plan for skill-based migration
  docs/plans/2026-04-06-phase1-native-module-restructure.md
Due: prettier

fix(plan): address review findings in Phase 1 plan
  docs/plans/2026-04-06-phase1-native-module-restructure.md
Due: prettier

fix(plan): address round 2 review findings in Phase 1 plan
  docs/plans/2026-04-06-phase1-native-module-restructure.md
Due: prettier

fix(plan): address round 3 review findings in Phase 1 plan
  docs/plans/2026-04-06-phase1-native-module-restructure.md
Due: prettier

chore: pin BMAD-METHOD submodule to v6.2.2
  .beads/issues.jsonl
Due: none

feat(build): add module merge function for skill-based layout
  .beads/issues.jsonl
  tools/build.js
Due: eslint
