Repository Compass-Brand/compass-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

eslint:
  name: eslint
  language: node
  entry: eslint --max-warnings=0 --config .eslint.config.mjs
  additional_dependencies:
  - eslint@9.39.1

prettier:
  name: prettier
  language: node
  entry: prettier --check
  additional_dependencies:
  - prettier@3.6.2

docs: add opencode beads wrapper plan
  .beads/issues.jsonl
  planning/framework/current/research/technical/opencode-beads-wrapper-plan.md
Due: prettier

feat: add compass beads opencode wrapper
  .beads/issues.jsonl
  src/opencode/package.json
  src/opencode/plugins/README.md
  src/opencode/plugins/compass-beads.ts
  src/opencode/plugins/compass-beads/README.md
  src/opencode/plugins/compass-beads/plugin.ts
  src/opencode/plugins/compass-beads/plugin.yaml
  src/opencode/plugins/compass-beads/vendor.ts
  src/opencode/plugins/compass-beads/vendor/agents/task-agent.md
  src/opencode/plugins/compass-beads/vendor/commands/blocked.md
  src/opencode/plugins/compass-beads/vendor/commands/close.md
  src/opencode/plugins/compass-beads/vendor/commands/create.md
  src/opencode/plugins/compass-beads/vendor/commands/list.md
  src/opencode/plugins/compass-beads/vendor/commands/prime.md
  src/opencode/plugins/compass-beads/vendor/commands/ready.md
  src/opencode/plugins/compass-beads/vendor/commands/show.md
  src/opencode/plugins/compass-beads/vendor/commands/stats.md
  src/opencode/plugins/compass-beads/vendor/commands/sync.md
  src/opencode/plugins/compass-beads/vendor/commands/update.md
  tools/validate.js
Due: eslint, prettier

docs: add opencode worktree adoption plan
  .beads/issues.jsonl
  planning/framework/current/research/technical/opencode-worktree-adoption-plan.md
Due: prettier

feat: add compass worktree opencode plugin
  .beads/issues.jsonl
  src/opencode/package.json
  src/opencode/plugins/README.md
  src/opencode/plugins/compass-worktree.ts
  src/opencode/plugins/compass-worktree/README.md
  src/opencode/plugins/compass-worktree/kdco-primitives/get-project-id.ts
  src/opencode/plugins/compass-worktree/kdco-primitives/index.ts
  src/opencode/plugins/compass-worktree/kdco-primitives/log-warn.ts
  src/opencode/plugins/compass-worktree/kdco-primitives/mutex.ts
  src/opencode/plugins/compass-worktree/kdco-primitives/shell.ts
  src/opencode/plugins/compass-worktree/kdco-primitives/temp.ts
  src/opencode/plugins/compass-worktree/kdco-primitives/terminal-detect.ts
  src/opencode/plugins/compass-worktree/kdco-primitives/types.ts
  src/opencode/plugins/compass-worktree/kdco-primitives/with-timeout.ts
  src/opencode/plugins/compass-worktree/plugin.ts
  src/opencode/plugins/compass-worktree/plugin.yaml
  src/opencode/plugins/compass-worktree/worktree/launch-context.ts
  src/opencode/plugins/compass-worktree/worktree/state.ts
  src/opencode/plugins/compass-worktree/worktree/terminal.ts
  tools/validate.js
Due: eslint, prettier

docs: add type inject wrapper plan
  .beads/issues.jsonl
  planning/framework/current/research/technical/type-inject-wrapper-plan.md
Due: prettier

docs: add opencode handoff wrapper plan
  .beads/issues.jsonl
  planning/framework/current/research/technical/opencode-handoff-wrapper-plan.md
Due: prettier

feat: add opencode type-inject and handoff wrappers
  .beads/issues.jsonl
  src/opencode/package.json
  src/opencode/plugins/README.md
  src/opencode/plugins/compass-handoff.ts
  src/opencode/plugins/compass-handoff/README.md
  src/opencode/plugins/compass-handoff/files.ts
  src/opencode/plugins/compass-handoff/plugin.ts
  src/opencode/plugins/compass-handoff/plugin.yaml
  src/opencode/plugins/compass-handoff/tools.ts
  src/opencode/plugins/compass-handoff/vendor.ts
  src/opencode/plugins/compass-type-inject.ts
  src/opencode/plugins/compass-type-inject/README.md
  src/opencode/plugins/compass-type-inject/plugin.ts
  src/opencode/plugins/compass-type-inject/plugin.yaml
  tools/validate.js
Due: eslint, prettier

chore: lint opencode plugin ts files
  .eslint.config.mjs
  .pre-commit-config.yaml
  src/root/.eslint.config.mjs
Due: eslint, prettier

chore: sync pre-commit ts parser config
  .pre-commit-config.yaml
  src/root/.pre-commit-config.yaml
Due: prettier

chore: stabilize lint and codespell hooks
  .codespellrc
  .eslint.config.mjs
  .pre-commit-config.yaml
  src/root/.codespellrc
  src/root/.eslint.config.mjs
  src/root/.pre-commit-config.yaml
Due: eslint, prettier

fix(create-architecture): align repo identity and brief discovery with create-prd
  .beads/issues.jsonl
  src/bmad/modules/custom/bmm/workflows/3-solutioning/create-architecture/steps/step-01-init.md
  src/bmad/modules/custom/bmm/workflows/3-solutioning/create-architecture/workflow.md
Due: prettier

chore: sync beads after closing bmad-engine-nfv
  .beads/daemon-error
  .beads/issues.jsonl
Due: none

fix: add template variable substitution note to init step reports
  .beads/issues.jsonl
  src/bmad/modules/custom/bmm/workflows/2-plan-workflows/create-prd/steps-c/step-01-init.md
  src/bmad/modules/custom/bmm/workflows/3-solutioning/create-architecture/steps/step-01-init.md
Due: prettier

fix(phase-sync): derive lane decisions from roadmap scope instead of silent defaults
  .beads/issues.jsonl
  planning/templates/phase/phase-state.yaml
  reference/BMAD/modules/custom/bmm/workflows/0-governance/phase-sync/workflow.md
  src/bmad/modules/custom/bmm/workflows/0-governance/phase-sync/workflow.md
  src/planning/templates/phase/phase-state.yaml
Due: prettier

chore: sync beads after closing bmad-engine-713
  .beads/issues.jsonl
Due: none

chore: sync beads after closing bmad-engine-pnh
  .beads/issues.jsonl
Due: none

fix(bmad): add scope-awareness guards to prevent unwanted scope expansion
  .beads/issues.jsonl
  src/bmad/modules/custom/bmm/workflows/1-analysis/create-product-brief/steps/step-01-init.md
  src/bmad/modules/custom/bmm/workflows/2-plan-workflows/create-prd/steps-c/step-03-success.md
  src/bmad/modules/custom/bmm/workflows/2-plan-workflows/create-prd/steps-c/step-08-scoping.md
  src/bmad/modules/custom/bmm/workflows/3-solutioning/create-architecture/steps/step-02-context.md
  src/bmad/modules/custom/bmm/workflows/3-solutioning/create-architecture/steps/step-03-starter.md
  src/bmad/modules/custom/bmm/workflows/planning/project-roadmap/instructions.md
  src/bmad/modules/native/bmm/workflows/1-analysis/create-product-brief/steps/step-01-init.md
  src/bmad/modules/native/bmm/workflows/2-plan-workflows/create-prd/steps-c/step-03-success.md
  src/bmad/modules/native/bmm/workflows/2-plan-workflows/create-prd/steps-c/step-08-scoping.md
  src/bmad/modules/native/bmm/workflows/3-solutioning/create-architecture/steps/step-02-context.md
  src/bmad/modules/native/bmm/workflows/3-solutioning/create-architecture/steps/step-03-starter.md
Due: prettier

chore: sync beads after closing bmad-engine-nmv
  .beads/issues.jsonl
Due: none

fix(bmad): route completion next-steps through help.md for canonical ordering
  .beads/issues.jsonl
  src/bmad/modules/custom/bmm/workflows/1-analysis/create-product-brief/steps/step-06-complete.md
  src/bmad/modules/custom/bmm/workflows/2-plan-workflows/create-ux-design/steps/step-14-complete.md
  src/bmad/modules/custom/bmm/workflows/generate-project-context/steps/step-03-complete.md
  src/bmad/modules/native/bmm/workflows/1-analysis/create-product-brief/steps/step-06-complete.md
  src/bmad/modules/native/bmm/workflows/2-plan-workflows/create-ux-design/steps/step-14-complete.md
  src/bmad/modules/native/bmm/workflows/generate-project-context/steps/step-03-complete.md
Due: prettier

chore: sync beads after closing bmad-engine-k9h
  .beads/issues.jsonl
Due: none

fix(bmad): replace bulk context loading with targeted reads
  .beads/issues.jsonl
  src/bmad/modules/custom/bmm/workflows/1-analysis/create-product-brief/steps/step-01-init.md
  src/bmad/modules/custom/bmm/workflows/2-plan-workflows/create-prd/steps-c/step-01-init.md
  src/bmad/modules/custom/bmm/workflows/2-plan-workflows/create-ux-design/steps/step-01-init.md
  src/bmad/modules/custom/bmm/workflows/3-solutioning/create-architecture/steps/step-01-init.md
  src/bmad/modules/custom/bmm/workflows/3-solutioning/create-architecture/steps/step-02-context.md
  src/bmad/modules/custom/bmm/workflows/4-implementation/create-story/instructions.xml
  src/bmad/modules/native/bmm/workflows/1-analysis/create-product-brief/steps/step-01-init.md
  src/bmad/modules/native/bmm/workflows/2-plan-workflows/create-prd/steps-c/step-01-init.md
  src/bmad/modules/native/bmm/workflows/2-plan-workflows/create-ux-design/steps/step-01-init.md
  src/bmad/modules/native/bmm/workflows/3-solutioning/create-architecture/steps/step-01-init.md
  src/bmad/modules/native/bmm/workflows/3-solutioning/create-architecture/steps/step-02-context.md
  src/bmad/modules/native/bmm/workflows/4-implementation/create-story/instructions.xml
Due: prettier

chore: sync beads after closing bmad-engine-jsa
  .beads/issues.jsonl
Due: none

fix(create-architecture): ground structure mapping in actual project layout
  .beads/issues.jsonl
  src/bmad/modules/custom/bmm/workflows/3-solutioning/create-architecture/steps/step-06-structure.md
  src/bmad/modules/native/bmm/workflows/3-solutioning/create-architecture/steps/step-06-structure.md
Due: prettier

chore: sync beads after closing bmad-engine-hpj
  .beads/issues.jsonl
Due: none

fix: reconcile reference planning docs with shipped src structure
  .beads/issues.jsonl
  reference/BMAD/BMAD-workflow.md
  reference/BMAD/README.md
  reference/planning/README.md
  reference/planning/docs/how-to-use.md
  reference/planning/docs/workflow-map.md
  reference/planning/framework/README.md
Due: prettier

chore: sync beads after closing bmad-engine-hbx
  .beads/issues.jsonl
Due: none

chore: sync beads after closing smoke tests (a8k, fhu, 3gv)
  .beads/issues.jsonl
Due: none

feat: add drift-exclude config for distribution-only workflows
  src/github/.drift-exclude.yml
  tools/check-github-drift.js
Due: eslint, prettier

chore: remove irrelevant CI workflows from compass-engine
  .github/workflows/codeql.yml
  .github/workflows/necessist.yml
  .github/workflows/runtime-security.yml
Due: prettier

feat: split linting feature group and remove codeql from baseline
  tools/push.js
Due: eslint

feat: create lint-core.yml with universal linting jobs
  src/github/workflows/lint-core.yml
Due: prettier

feat: create lint-languages.yml with zero-cost detect gate
  src/github/workflows/lint-languages.yml
Due: prettier

refactor: replace linting.yml monolith with lint-core.yml + lint-languages.yml
  .github/workflows/lint-core.yml
  src/github/workflows/linting.yml
Due: prettier

docs: add CI/CD cleanup implementation plan
  docs/plans/2026-04-02-ci-cd-cleanup.md
Due: prettier

fix: correct heading levels in CI/CD cleanup plan
  docs/plans/2026-04-02-ci-cd-cleanup.md
Due: prettier

refactor: trim CI/CD — drift-exclude, lint split, zero-cost detect (#68)
  .github/workflows/codeql.yml
  .github/workflows/lint-core.yml
  .github/workflows/necessist.yml
  .github/workflows/runtime-security.yml
  docs/plans/2026-04-02-ci-cd-cleanup.md
  src/github/.drift-exclude.yml
  src/github/workflows/lint-core.yml
  src/github/workflows/lint-languages.yml
  tools/check-github-drift.js
  tools/push.js
Due: eslint, prettier

fix(bmad): tighten 5 workflow behaviors for delivery-repo accuracy
  .beads/issues.jsonl
  reference/BMAD/modules/custom/bmm/workflows/2-plan-workflows/create-prd/steps-c/step-12-complete.md
  reference/BMAD/modules/native/bmm/workflows/2-plan-workflows/create-prd/steps-c/step-12-complete.md
  src/bmad/modules/custom/bmm/workflows/2-plan-workflows/create-prd/steps-c/step-01-init.md
  src/bmad/modules/custom/bmm/workflows/2-plan-workflows/create-prd/steps-c/step-12-complete.md
  src/bmad/modules/custom/bmm/workflows/3-solutioning/create-architecture/steps/step-02-context.md
  src/bmad/modules/custom/bmm/workflows/3-solutioning/create-epics-and-stories/steps/step-04-final-validation.md
  src/bmad/modules/custom/bmm/workflows/3-solutioning/create-epics-and-stories/templates/epics-template.md
  src/bmad/modules/custom/bmm/workflows/3-solutioning/create-epics-and-stories/workflow.md
  src/bmad/modules/custom/bmm/workflows/planning/init-planning/checklist.md
  src/bmad/modules/custom/bmm/workflows/planning/init-planning/instructions.md
  src/bmad/modules/native/bmm/workflows/2-plan-workflows/create-prd/steps-c/step-01-init.md
  src/bmad/modules/native/bmm/workflows/2-plan-workflows/create-prd/steps-c/step-12-complete.md
  src/bmad/modules/native/bmm/workflows/3-solutioning/create-architecture/steps/step-02-context.md
  src/bmad/modules/native/bmm/workflows/3-solutioning/create-epics-and-stories/steps/step-04-final-validation.md
  src/bmad/modules/native/bmm/workflows/3-solutioning/create-epics-and-stories/templates/epics-template.md
  src/bmad/modules/native/bmm/workflows/3-solutioning/create-epics-and-stories/workflow.md
Due: prettier

chore: sync beads after closing 5 P3 workflow tasks
  .beads/issues.jsonl
Due: none

Path conditions:
  eslint: any of: \.(js|mjs|cjs|jsx|ts|tsx)$, but not: (^reference/BMAD/research/|^\.claude-trace/|.*/fixtures/)
  prettier: any of: \.(ya?ml|md)$, but not: (^reference/BMAD/research/|^\.claude-trace/|.*/fixtures/)
