Repository Compass-Brand/compass-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

eslint:
  name: eslint
  language: node
  entry: eslint --max-warnings=0 --config .eslint.config.mjs
  additional_dependencies:
  - eslint@9.39.1

prettier:
  name: prettier
  language: node
  entry: prettier --check
  additional_dependencies:
  - prettier@3.6.2

docs(bmad): update README index with all new documentation
  .beads/issues.jsonl
  docs/development/bmad/README.md
Due: prettier

fix(docs): normalize em-dash style and link format in BMAD docs
  docs/development/bmad/agent-conflict-prevention.md
  docs/development/bmad/extension-modules.md
Due: prettier

chore(ci): add GitHub Actions workflow templates and drift exclusion
  .github/.drift-exclude.yml
  .github/workflows/codeql.yml
  .github/workflows/lint-languages.yml
  .github/workflows/necessist.yml
  .github/workflows/runtime-security.yml
Due: prettier

fix(ci): group GITHUB_OUTPUT redirects in lint-languages detect step
  .github/workflows/lint-languages.yml
Due: prettier

fix: resolve P1 issues and dist config contamination
  docs/architecture/build.md
  docs/architecture/sync.md
  docs/development/claude/modifying-claude.md
  src/claude/README.md
  src/claude/templates/settings.json.template
  src/documentation/README.md
  src/github/.drift-exclude.yml
  src/github/CODEOWNERS
  src/github/README.md
  src/github/profiles/README.md
  src/github/workflows/github-drift.yml
  src/github/workflows/quality-checks.yml
  src/opencode/plugins/README.md
  src/root/.codespellrc
  src/root/.lint/markdownlint-library.mjs
  src/root/.pre-commit-config.yaml
  tools/push.js
Due: eslint, prettier

fix(docs): resolve documentation path errors and stale references
  .codespellrc
  CHANGELOG.md
  CLAUDE.md
  README.md
  SUBMODULE_SECURITY.md
  docs/BMAD-integration.md
  docs/README.md
  docs/ai/README.md
  docs/architecture/github-standardization.md
  docs/architecture/opencode-plugin-strategy.md
  docs/development/bmad/modifying-bmad.md
  docs/development/claude/modifying-claude.md
  docs/development/linting-and-security.md
  docs/human/policies/docs-structure-standard.md
  docs/plans/README.md
  planning/docs/how-to-use.md
  planning/framework/current/research/technical/opencode-plugin-portfolio-triage.md
  src/bmad/README.md
  src/claude/README.md
  src/opencode/README.md
  src/opencode/plugins/README.md
Due: prettier

chore(beads): close all 79 open issues resolved in sweep
  .beads/issues.jsonl
Due: none

fix(bmad): resolve verification failures from sweep review
  src/bmad/BMAD-workflow.md
  src/bmad/modules/custom/bmm-skills/4-implementation/bmad-create-story/instructions.xml
  src/bmad/modules/custom/bmm-skills/4-implementation/bmad-dev-story/instructions.xml
  src/bmad/modules/custom/compass-skills/4-implementation/bmad-compass-testarch-teach-me-testing/workflow.yaml
  src/bmad/modules/custom/core-skills/bmad-master/SKILL.md
  src/bmad/modules/native/bmm-skills/1-analysis/bmad-agent-analyst/SKILL.md
Due: prettier

fix: resolve round-2 verification failures
  README.md
  docs/development/opencode/plugin-development.md
  planning/framework/current/research/technical/opencode-plugin-portfolio-triage.md
  src/planning/framework/lessons/README.md
  src/planning/framework/previous/README.md
Due: prettier

fix(ci): sync .github/ with src/github/ and fix markdownlint MD028
  .github/CODEOWNERS
  .github/README.md
  .github/profiles/README.md
  .github/workflows/github-drift.yml
  .github/workflows/quality-checks.yml
  docs/plans/2026-04-02-oversight-substrate.md
  docs/plans/2026-04-03-whitepaper-ingestion.md
  docs/plans/2026-04-06-bmad-src-audit-fixes.md
  docs/plans/2026-04-06-phase1-native-module-restructure.md
  docs/plans/2026-04-06-phase2-custom-bmm-overrides.md
  docs/plans/2026-04-07-phase3-compass-skills-module.md
  docs/plans/2026-04-07-phase4-manifest-migration.md
  docs/plans/2026-04-07-phase5-client-bundle-generation.md
  docs/plans/2026-04-08-bmad-documentation-suite.md
Due: prettier

fix(ci): sync root config files from src/root/ to repo root
  .codespellrc
  .lint/markdownlint-library.mjs
  .pre-commit-config.yaml
Due: eslint, prettier

fix(ci): resolve markdownlint and codespell lint errors
  .codespellrc
  src/bmad/modules/custom/bmm-skills/1-analysis/bmad-agent-analyst/SKILL.md
  src/bmad/modules/custom/bmm-skills/3-solutioning/bmad-create-architecture/steps/step-01-init.md
  src/bmad/modules/custom/compass-skills/2-plan-workflows/bmad-compass-wds-ux-design/workflow.md
  src/bmad/modules/native/bmm-skills/1-analysis/bmad-agent-analyst/SKILL.md
  src/root/.codespellrc
Due: prettier

chore(deps): bump 5 GitHub Actions dependencies in canonical sources
  .github/.drift-exclude.yml
  .github/workflows/lint-core.yml
  .github/workflows/lint-languages.yml
  .github/workflows/quality-checks.yml
  src/github/workflows/lint-core.yml
  src/github/workflows/quality-checks.yml
Due: prettier

fix(ci): group GITHUB_OUTPUT redirects in lint-languages detect step
  .github/workflows/lint-languages.yml
  src/github/workflows/lint-languages.yml
Due: prettier

fix(ci): scope linters to authored sources and rebuild dist before push
  .beads/issues.jsonl
  .lint/markdownlint-library.mjs
  .pre-commit-config.yaml
  package.json
  src/root/.lint/markdownlint-library.mjs
  src/root/.pre-commit-config.yaml
Due: eslint, prettier

chore(submodule): bump BMAD-METHOD to 6b964ac (v6.3.0)
  .beads/issues.jsonl
Due: none

chore(beads): close bmad-engine-090n, etfs, bip4
  .beads/issues.jsonl
Due: none

docs(bmad): add v6.3.0 alignment plans and beads issues
  .beads/issues.jsonl
  docs/plans/2026-04-15-bmad-v6.3-config-migration.md
  docs/plans/2026-04-15-bmad-v6.3-deprecated-agents.md
  docs/plans/2026-04-15-bmad-v6.3-marketplace-distribution.md
  docs/plans/2026-04-15-bmad-v6.3-quick-dev-features.md
Due: prettier

chore(bmad): remove deprecated native bmad-agent-qa (upstream #2179)
  .beads/issues.jsonl
  src/bmad/modules/native/bmm-skills/1-analysis/bmad-prfaq/SKILL.md
  src/bmad/modules/native/bmm-skills/1-analysis/bmad-prfaq/agents/artifact-analyzer.md
  src/bmad/modules/native/bmm-skills/1-analysis/bmad-prfaq/agents/web-researcher.md
  src/bmad/modules/native/bmm-skills/1-analysis/bmad-prfaq/assets/prfaq-template.md
  src/bmad/modules/native/bmm-skills/1-analysis/bmad-prfaq/bmad-manifest.json
  src/bmad/modules/native/bmm-skills/1-analysis/bmad-prfaq/references/customer-faq.md
  src/bmad/modules/native/bmm-skills/1-analysis/bmad-prfaq/references/internal-faq.md
  src/bmad/modules/native/bmm-skills/1-analysis/bmad-prfaq/references/press-release.md
  src/bmad/modules/native/bmm-skills/1-analysis/bmad-prfaq/references/verdict.md
  src/bmad/modules/native/bmm-skills/4-implementation/bmad-agent-qa/SKILL.md
  src/bmad/modules/native/bmm-skills/4-implementation/bmad-agent-qa/bmad-skill-manifest.yaml
Due: prettier

docs(bmad): v6.3.0 marketplace audit Phase 1 notes
  .beads/issues.jsonl
  docs/plans/_scratch-bmad-v6.3-audit/compass-pipeline.md
  docs/plans/_scratch-bmad-v6.3-audit/upstream-contract.md
Due: prettier

docs(bmad): add v6.3.0 installer bootstrap plan (bmad-engine-the2)
  .beads/issues.jsonl
  docs/plans/2026-04-15-bmad-v6.3-installer-bootstrap.md
Due: prettier

feat(bmad): sync bmad-prfaq skill from upstream v6.3.0 (#2157)
  .beads/issues.jsonl
  src/bmad/modules/native/bmm-skills/1-analysis/bmad-agent-analyst/SKILL.md
  src/bmad/modules/native/bmm-skills/1-analysis/bmad-prfaq/SKILL.md
  src/bmad/modules/native/bmm-skills/1-analysis/bmad-prfaq/agents/artifact-analyzer.md
  src/bmad/modules/native/bmm-skills/1-analysis/bmad-prfaq/agents/web-researcher.md
  src/bmad/modules/native/bmm-skills/1-analysis/bmad-prfaq/assets/prfaq-template.md
  src/bmad/modules/native/bmm-skills/1-analysis/bmad-prfaq/bmad-manifest.json
  src/bmad/modules/native/bmm-skills/1-analysis/bmad-prfaq/references/customer-faq.md
  src/bmad/modules/native/bmm-skills/1-analysis/bmad-prfaq/references/internal-faq.md
  src/bmad/modules/native/bmm-skills/1-analysis/bmad-prfaq/references/press-release.md
  src/bmad/modules/native/bmm-skills/1-analysis/bmad-prfaq/references/verdict.md
  src/bmad/modules/native/bmm-skills/module-help.csv
Due: prettier

docs(audit): escape pipe in markdown table to fix markdownlint MD056
  .beads/issues.jsonl
  docs/plans/_scratch-bmad-v6.3-audit/compass-pipeline.md
Due: prettier

docs(bmad): ADR-0001 marketplace adoption (Option 5 narrowed)
  .beads/issues.jsonl
  planning/decisions/README.md
  planning/decisions/adr-0001-marketplace-adoption.md
Due: prettier

chore(bmad): remove deprecated native bmad-agent-sm (upstream #2186)
  src/bmad/modules/native/bmm-skills/4-implementation/bmad-agent-sm/SKILL.md
  src/bmad/modules/native/bmm-skills/4-implementation/bmad-agent-sm/bmad-skill-manifest.yaml
Due: prettier

chore(bmad): remove Bob persona references and sm team entries (sm agent removed upstream)
  src/bmad/modules/custom/bmm-skills/4-implementation/bmad-retrospective/instructions.md
  src/bmad/modules/custom/compass-skills/_resources/teams/default-party.csv
  src/bmad/modules/custom/compass-skills/_resources/teams/team-fullstack.yaml
  src/bmad/modules/native/bmm-skills/4-implementation/bmad-retrospective/workflow.md
Due: prettier

test(validate): red test for removed-agent guard
  test/test-validate-removed-agents.js
Due: eslint

chore(bmad): remove native bmad-agent-quick-flow-solo-dev, retain custom variant (upstream #2177)
  src/bmad/modules/native/bmm-skills/4-implementation/bmad-agent-quick-flow-solo-dev/SKILL.md
  src/bmad/modules/native/bmm-skills/4-implementation/bmad-agent-quick-flow-solo-dev/bmad-skill-manifest.yaml
Due: prettier

chore(bmad): remove deprecated native bmad-agent-qa (upstream #2179)
  .beads/issues.jsonl
  src/bmad/modules/native/bmm-skills/4-implementation/bmad-agent-qa/SKILL.md
  src/bmad/modules/native/bmm-skills/4-implementation/bmad-agent-qa/bmad-skill-manifest.yaml
Due: prettier

feat(validate): guard against reintroduction of deprecated BMAD agents
  tools/validate.js
Due: eslint

feat(bmad): add Junie + KiloCoder platform support (#2142, #2151)
  package.json
  src/junie/README.md
  src/kilocode/README.md
  test/test-build-integration.js
  tools/build.js
  tools/push.js
  tools/validate.js
Due: eslint, prettier

feat(bmad): sync bmad-checkpoint-preview skill from upstream v6.3.0 (#2145)
  .beads/issues.jsonl
  src/bmad/modules/native/bmm-skills/4-implementation/bmad-checkpoint-preview/SKILL.md
  src/bmad/modules/native/bmm-skills/4-implementation/bmad-checkpoint-preview/generate-trail.md
  src/bmad/modules/native/bmm-skills/4-implementation/bmad-checkpoint-preview/step-01-orientation.md
  src/bmad/modules/native/bmm-skills/4-implementation/bmad-checkpoint-preview/step-02-walkthrough.md
  src/bmad/modules/native/bmm-skills/4-implementation/bmad-checkpoint-preview/step-03-detail-pass.md
  src/bmad/modules/native/bmm-skills/4-implementation/bmad-checkpoint-preview/step-04-testing.md
  src/bmad/modules/native/bmm-skills/4-implementation/bmad-checkpoint-preview/step-05-wrapup.md
  src/bmad/modules/native/bmm-skills/module-help.csv
Due: prettier

test(quick-dev): red test for deriveSpecSlug helper
  test/test-quick-dev-scan.js
Due: eslint

refactor(quick-spec): migrate to spec-{slug}.md filenames
  src/bmad/modules/custom/compass-skills/4-implementation/bmad-compass-quick-spec/steps/step-01-understand.md
  src/bmad/modules/custom/compass-skills/4-implementation/bmad-compass-quick-spec/steps/step-02-investigate.md
  src/bmad/modules/custom/compass-skills/4-implementation/bmad-compass-quick-spec/steps/step-03-generate.md
  src/bmad/modules/custom/compass-skills/4-implementation/bmad-compass-quick-spec/steps/step-04-review.md
  src/bmad/modules/custom/compass-skills/4-implementation/bmad-compass-quick-spec/workflow.md
Due: prettier

chore(bmad): refresh native bmad-quick-dev from upstream v6.3.0
  .beads/issues.jsonl
  src/bmad/modules/native/bmm-skills/4-implementation/bmad-quick-dev/compile-epic-context.md
  src/bmad/modules/native/bmm-skills/4-implementation/bmad-quick-dev/spec-template.md
  src/bmad/modules/native/bmm-skills/4-implementation/bmad-quick-dev/step-01-clarify-and-route.md
  src/bmad/modules/native/bmm-skills/4-implementation/bmad-quick-dev/step-02-plan.md
  src/bmad/modules/native/bmm-skills/4-implementation/bmad-quick-dev/step-03-implement.md
  src/bmad/modules/native/bmm-skills/4-implementation/bmad-quick-dev/step-04-review.md
  src/bmad/modules/native/bmm-skills/4-implementation/bmad-quick-dev/step-05-present.md
  src/bmad/modules/native/bmm-skills/4-implementation/bmad-quick-dev/step-oneshot.md
  src/bmad/modules/native/bmm-skills/4-implementation/bmad-quick-dev/sync-sprint-status.md
  src/bmad/modules/native/bmm-skills/4-implementation/bmad-quick-dev/workflow.md
Due: prettier

feat(quick-dev): extract deriveSpecSlug helper
  test/test-quick-dev-scan.js
  tools/quick-dev-scan.js
Due: eslint

Path conditions:
  eslint: any of: \.(js|mjs|cjs|jsx|ts|tsx)$, but not: (^reference/BMAD/research/|^\.claude-trace/|.*/fixtures/)
  prettier: any of: \.(ya?ml|md)$, but not: (^reference/BMAD/research/|^\.claude-trace/|.*/fixtures/)
