Repository Compass-Brand/compass-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

eslint:
  name: eslint
  language: node
  entry: eslint --max-warnings=0 --config .eslint.config.mjs
  additional_dependencies:
  - eslint@9.39.1

prettier:
  name: prettier
  language: node
  entry: prettier --check
  additional_dependencies:
  - prettier@3.6.2

feat(build): auto-generate bmad-help.csv by merging per-module module-help.csv files
  tools/build.js
Due: eslint

refactor(build): remove hand-maintained _config/ — manifests now auto-generated
  src/bmad/_config/agent-manifest.csv
  src/bmad/_config/bmad-help.csv
  tools/build.js
Due: eslint

feat(build): auto-generate skill-manifest.csv from SKILL.md files
  tools/build.js
Due: eslint

feat(validate): add agent manifest validation — check bmad-skill-manifest.yaml presence
  src/bmad/modules/custom/bmm-skills/1-analysis/bmad-agent-analyst/bmad-skill-manifest.yaml
  src/bmad/modules/custom/bmm-skills/4-implementation/bmad-agent-quick-flow-solo-dev/bmad-skill-manifest.yaml
  tools/validate.js
Due: eslint, prettier

feat(build): validate generated manifest files exist in dist
  tools/build.js
Due: eslint

feat(validate): add after/before dependency validation for module-help.csv
  tools/validate.js
Due: eslint

docs: update stale references to deleted src/bmad/_config/
  docs/development/claude/modifying-claude.md
  src/claude/README.md
  src/claude/commands/bmad/README.md
  src/claude/skills/bmad-method/references/command-catalog.md
  src/codex/skills/bmad-method/references/command-catalog.md
  src/opencode/README.md
  src/opencode/commands/bmad/README.md
Due: prettier

docs: mark Phase 4 complete in design document
  docs/plans/2026-04-06-bmad-upstream-migration-design.md
Due: prettier

feat(bmad): Phase 4 — auto-generated manifests replace hand-maintained CSVs (#78)
  docs/development/claude/modifying-claude.md
  docs/plans/2026-04-06-bmad-upstream-migration-design.md
  docs/plans/2026-04-07-phase4-manifest-migration.md
  src/bmad/_config/agent-manifest.csv
  src/bmad/_config/bmad-help.csv
  src/bmad/modules/custom/bmm-skills/1-analysis/bmad-agent-analyst/bmad-skill-manifest.yaml
  src/bmad/modules/custom/bmm-skills/4-implementation/bmad-agent-quick-flow-solo-dev/bmad-skill-manifest.yaml
  src/claude/README.md
  src/claude/commands/bmad/README.md
  src/claude/skills/bmad-method/references/command-catalog.md
  src/codex/skills/bmad-method/references/command-catalog.md
  src/opencode/README.md
  src/opencode/commands/bmad/README.md
  tools/build.js
  tools/validate.js
Due: eslint, prettier

docs: add Phase 5 client bundle generation implementation plan
  docs/plans/2026-04-07-phase5-client-bundle-generation.md
Due: prettier

fix(plan): address 6 review findings in Phase 5 plan
  docs/plans/2026-04-07-phase5-client-bundle-generation.md
Due: prettier

feat(build): auto-generate client skill directories from skill manifest
  tools/build.js
Due: eslint

refactor: update bmad-method and bmad-automation skills for skill-based bundles
  src/claude/skills/bmad-automation/SKILL.md
  src/claude/skills/bmad-method/SKILL.md
  src/claude/skills/bmad-method/references/command-catalog.md
  src/codex/skills/bmad-method/SKILL.md
  src/codex/skills/bmad-method/references/command-catalog.md
Due: prettier

refactor: remove sync-client-bundles.js — client skills now auto-generated at build time
  docs/development/opencode/plugin-development.md
  package.json
  tools/sync-client-bundles.js
Due: eslint, prettier

refactor: update orchestrator agents and codex prompts for skill-based bundles
  src/claude/agents/bmad-orchestrator.md
  src/codex/prompts/bmad-help.md
  src/opencode/agents/bmad-orchestrator.md
Due: prettier

feat(validate): update validation for skill-based client bundles
  tools/build.js
  tools/validate.js
Due: eslint

docs: mark Phase 5 complete in migration design document
  docs/plans/2026-04-06-bmad-upstream-migration-design.md
Due: prettier

fix(build): copy root-level BMAD assets generically instead of special-casing
  tools/build.js
Due: eslint

chore: add test infrastructure and export internal functions for testing
  .beads/issues.jsonl
  package.json
  test/helpers.js
  tools/build.js
  tools/push.js
  tools/validate.js
Due: eslint

test(build): add pure function tests for normalizePath, shouldSkip, parseSimpleYaml, parseCsvRows, clientSkillName
  test/test-build-pure.js
Due: eslint

test(push): add pure function tests for resolveFeatureSelection, resolveWithinProject
  test/test-push-pure.js
Due: eslint

test(validate): add pure function tests for shouldScanSourceFile, isLikelyPlaceholder, findSecretIndicators, parseCsvLine
  test/test-validate-pure.js
Due: eslint

test(build): add filesystem tests for copyDir, mergeModules, listFilesRecursive
  test/test-build-fs.js
Due: eslint

test(push): add filesystem tests for copyDir, syncManagedTarget, resolveGitDir, manifest I/O, project discovery
  test/test-push-fs.js
Due: eslint

test(build): add integration test running full build cycle against real source
  test/test-build-integration.js
Due: eslint

ci: add unit and integration test job to quality-checks workflow
  src/github/workflows/quality-checks.yml
Due: prettier

chore: sync CI workflow and add test suite implementation plan
  .github/workflows/quality-checks.yml
  docs/plans/2026-04-08-tools-test-suite.md
Due: prettier

fix: correct package.json indentation and revert live .github/ to main
  .github/workflows/quality-checks.yml
  package.json
Due: prettier

chore: sync beads issue closure
  .beads/issues.jsonl
Due: none

fix(ci): exclude test/ from secret scan and fix plan heading levels
  .github/workflows/quality-checks.yml
  docs/plans/2026-04-08-tools-test-suite.md
  src/github/workflows/quality-checks.yml
Due: prettier

fix(ci): sync .github/workflows/quality-checks.yml with src/
  .github/workflows/quality-checks.yml
Due: prettier

feat(compass): add bmad-compass-workflow-map skill
  .beads/issues.jsonl
  docs/plans/2026-04-08-workflow-map-skill.md
  src/bmad/modules/custom/compass-skills/anytime/bmad-compass-workflow-map/SKILL.md
  src/bmad/modules/custom/compass-skills/anytime/bmad-compass-workflow-map/workflow.md
  src/bmad/modules/custom/compass-skills/module-help.csv
Due: prettier

fix(compass): add missing supporting lanes to workflow map
  src/bmad/modules/custom/compass-skills/anytime/bmad-compass-workflow-map/workflow.md
Due: prettier

docs(bmad): add comprehensive BMAD method documentation
  .beads/issues.jsonl
  docs/README.md
  docs/development/bmad/README.md
  docs/development/bmad/bmad-overview.md
  docs/development/bmad/creating-modules.md
  docs/development/bmad/creating-skills.md
  docs/development/bmad/custom-modules.md
  docs/development/bmad/modifying-bmad.md
  docs/development/bmad/upstream-changelog.md
Due: prettier

fix(docs): correct inaccuracies found during review
  docs/development/bmad/bmad-overview.md
  docs/development/bmad/creating-modules.md
  docs/development/bmad/creating-skills.md
Due: prettier

fix(docs): add 0-governance to allowed phase values
  .beads/issues.jsonl
  docs/development/bmad/creating-modules.md
  docs/development/bmad/creating-skills.md
Due: prettier

docs(bmad): add 8 developer-facing documentation guides
  .beads/issues.jsonl
  docs/development/bmad/advanced-techniques.md
  docs/development/bmad/agent-conflict-prevention.md
  docs/development/bmad/automation-wrappers.md
  docs/development/bmad/beads-integration.md
  docs/development/bmad/extension-modules.md
  docs/development/bmad/project-context.md
  docs/development/bmad/quick-spec-quick-dev.md
  docs/development/bmad/script-replacement.md
  docs/plans/2026-04-08-bmad-documentation-suite.md
Due: prettier

docs(bmad): add BMAD usage decision tree with scale-adaptive levels
  .beads/issues.jsonl
  docs/development/bmad/when-to-use-bmad.md
Due: prettier

Path conditions:
  eslint: any of: \.(js|mjs|cjs|jsx|ts|tsx)$, but not: (^reference/BMAD/research/|^\.claude-trace/|.*/fixtures/)
  prettier: any of: \.(ya?ml|md)$, but not: (^reference/BMAD/research/|^\.claude-trace/|.*/fixtures/)
