Repository Compass-Brand/compass-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

.pre-commit-config.yaml:

minimum_pre_commit_version: '3.7.0'
default_install_hook_types:
  - pre-commit
  - pre-push
default_stages:
  - pre-commit
  - pre-push
exclude: '(^reference/BMAD/research/|^\.claude-trace/|.*/fixtures/)'

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: f1dff44d3a9ae852957f34def96390f28719c232
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=1500']
      - id: check-merge-conflict
      - id: check-json
      - id: check-toml
      - id: check-yaml
        args: ['--unsafe']
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: detect-private-key

  - repo: https://github.com/asottile/sync-pre-commit-deps
    rev: b2964743b1b4a91d552634874cb3ae4b2bd5e7e5
    hooks:
      - id: sync-pre-commit-deps

  - repo: https://github.com/asottile/pyupgrade
    rev: 369aea6489e38ca74a18df494f191857ba484950
    hooks:
      - id: pyupgrade
        args: ['--py311-plus']

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 0839f92796ae388643a08a21640a029b322be5c2
    hooks:
      - id: ruff-check
        args: ['--config=.ruff.toml', '--fix', '--exit-non-zero-on-fix']
      - id: ruff-format
        args: ['--config=.ruff.toml']

  - repo: https://github.com/PyCQA/isort
    rev: b5f06a7b1d53b7b561f00f40f814ef1698864bac
    hooks:
      - id: isort
        args: ['--settings-path=.isort.cfg']

  - repo: https://github.com/adrienverge/yamllint
    rev: 30a25fe087e31d0345be0ffed4360e4651a44b6e
    hooks:
      - id: yamllint
        args: ['-c=.yamllint.yaml', '--strict']
        types: [yaml]

  - repo: https://github.com/gitleaks/gitleaks
    rev: 8d1f98c7967eb1e79cb44ac6241a124e145d2165
    hooks:
      - id: gitleaks
        args: ['--config=.gitleaks.toml']

  - repo: https://github.com/codespell-project/codespell
    rev: 583d8796d92eb58e15072db03e5b756be45f638a
    hooks:
      - id: codespell
        args: ['--config=.codespellrc']

  - repo: https://github.com/biomejs/pre-commit
    rev: 8022786b4bd23c782070145e1052f3a4cd0560ec
    hooks:
      - id: biome-ci
        args: ['--config-path=biome.json']
        files: "\\.(js|mjs|cjs|jsx|ts|tsx|json|jsonc)$"
        exclude: '^src/root/'

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: 61da922d8f906b1e377cf21f0db0a3b2b2c6d311
    hooks:
      - id: markdownlint
        args: ['--config=.markdownlint.yaml']

  - repo: local
    hooks:
      - id: pylint
        name: pylint (system, manual)
        language: system
        entry: pylint --errors-only --rcfile=.pylintrc
        types: [python]
        stages: [manual]

      - id: dotenv-linter
        name: dotenv-linter (system, manual)
        language: system
        entry: dotenv-linter
        files: "(^|/)\\.env(\\..*)?$"
        stages: [manual]

      - id: eslint
        name: eslint
        language: node
        entry: eslint --max-warnings=0 --config .eslint.config.mjs
        files: "\\.(js|mjs|cjs|jsx|ts|tsx)$"
        additional_dependencies:
          - eslint@9.39.1

      - id: prettier
        name: prettier
        language: node
        entry: prettier --check
        files: "\\.(ya?ml|md)$"
        additional_dependencies:
          - prettier@3.6.2

  - repo: https://github.com/rhysd/actionlint
    rev: 125110ee35450eb98e1585be217a495c12d9666a
    hooks:
      - id: actionlint

  - repo: https://github.com/ansible/ansible-lint
    rev: ab4190674c046dbb11685c2b35feaf822dc1259e
    hooks:
      - id: ansible-lint
        always_run: false
        pass_filenames: false
        language_version: python3
        args: ['--profile=basic']
        files: "(^|/)(playbooks|roles|ansible)/|(^|/)ansible\\.cfg$"

  - repo: https://github.com/bridgecrewio/checkov
    rev: d175b3722045457e23d2701a1ab15ee8f4634f47
    hooks:
      - id: checkov
        pass_filenames: false
        args: ['-d', '.', '--config-file=.checkov.yaml']
        stages: [manual]

feat(build): add skill-based BMAD build with compatibility shim
  tools/build.js
Due: eslint

feat(build): update validation for skill-based layout
  .beads/issues.jsonl
  tools/build.js
Due: eslint

fix(bmad): remove excalidraw entries referencing deleted native paths
  src/bmad/_config/bmad-help.csv
  src/bmad/_config/workflow-manifest.csv
  src/bmad/modules/custom/bmm/module-help.csv
  src/claude/commands/bmad/README.md
  src/claude/commands/bmad/bmad-bmm-create-excalidraw-dataflow.md
  src/claude/commands/bmad/bmad-bmm-create-excalidraw-diagram.md
  src/claude/commands/bmad/bmad-bmm-create-excalidraw-flowchart.md
  src/claude/commands/bmad/bmad-bmm-create-excalidraw-wireframe.md
  src/claude/skills/bmad-method/references/command-catalog.md
  src/codex/skills/bmad-method/references/command-catalog.md
  src/opencode/commands/bmad/README.md
  src/opencode/commands/bmad/bmad-bmm-create-excalidraw-dataflow.md
  src/opencode/commands/bmad/bmad-bmm-create-excalidraw-diagram.md
  src/opencode/commands/bmad/bmad-bmm-create-excalidraw-flowchart.md
  src/opencode/commands/bmad/bmad-bmm-create-excalidraw-wireframe.md
Due: prettier

feat(validate): add skill format validation for new native modules
  .beads/issues.jsonl
  tools/validate.js
Due: eslint

refactor: update BMAD-workflow.md and remove obsoleted manifests
  .beads/issues.jsonl
  src/bmad/BMAD-workflow.md
  src/bmad/_config/task-manifest.csv
  src/bmad/_config/workflow-manifest.csv
Due: prettier

chore: sync beads issue tracker
  .beads/issues.jsonl
Due: none

fix(lint): exclude reference/migration-staging from linters
  .codespellrc
  .lint/markdownlint-library.mjs
  src/root/.codespellrc
  src/root/.lint/markdownlint-library.mjs
Due: eslint

docs: update migration design with Phase 1 completion and refined Phase 2-5
  docs/plans/2026-04-06-bmad-upstream-migration-design.md
Due: prettier

docs: add Phase 2 implementation plan for custom BMM agent overrides
  docs/plans/2026-04-06-phase2-custom-bmm-overrides.md
Due: prettier

refactor(validate): extend skill format validation to custom/bmm-skills
  tools/validate.js
Due: eslint

feat(bmad): add Compass analyst override — DP points to init-docs
  src/bmad/modules/custom/bmm-skills/1-analysis/bmad-agent-analyst/SKILL.md
Due: prettier

feat(bmad): add Compass quick-flow override — restore QS quick-spec capability
  src/bmad/modules/custom/bmm-skills/4-implementation/bmad-agent-quick-flow-solo-dev/SKILL.md
Due: prettier

feat(bmad): add Compass tech-writer override — DU, DV, US capabilities + docs principles
  src/bmad/modules/custom/bmm-skills/1-analysis/bmad-agent-tech-writer/SKILL.md
  src/bmad/modules/custom/bmm-skills/1-analysis/bmad-agent-tech-writer/bmad-skill-manifest.yaml
  src/bmad/modules/custom/bmm-skills/1-analysis/bmad-agent-tech-writer/documentation-standards.md
  src/bmad/modules/custom/bmm-skills/1-analysis/bmad-agent-tech-writer/update-standards.md
Due: prettier

docs: update Phase 2 design with actual scope (3 overrides, not 9)
  docs/plans/2026-04-06-bmad-upstream-migration-design.md
Due: prettier

fix(docs): correct Phase 2 status — PR #76 not yet merged
  docs/plans/2026-04-06-bmad-upstream-migration-design.md
Due: prettier

feat(bmad): Phase 2 — Compass agent overrides in skill format (#76)
  docs/plans/2026-04-06-bmad-upstream-migration-design.md
  docs/plans/2026-04-06-phase2-custom-bmm-overrides.md
  src/bmad/modules/custom/bmm-skills/1-analysis/bmad-agent-analyst/SKILL.md
  src/bmad/modules/custom/bmm-skills/1-analysis/bmad-agent-tech-writer/SKILL.md
  src/bmad/modules/custom/bmm-skills/1-analysis/bmad-agent-tech-writer/bmad-skill-manifest.yaml
  src/bmad/modules/custom/bmm-skills/1-analysis/bmad-agent-tech-writer/documentation-standards.md
  src/bmad/modules/custom/bmm-skills/1-analysis/bmad-agent-tech-writer/update-standards.md
  src/bmad/modules/custom/bmm-skills/4-implementation/bmad-agent-quick-flow-solo-dev/SKILL.md
  tools/validate.js
Due: eslint, prettier

docs: mark Phase 2 complete after PR #76 merge
  docs/plans/2026-04-06-bmad-upstream-migration-design.md
Due: prettier

docs: add Phase 3 implementation plan — compass-skills module creation
  docs/plans/2026-04-07-phase3-compass-skills-module.md
Due: prettier

fix(plan): address round 1 review findings in Phase 3 plan
  docs/plans/2026-04-06-bmad-upstream-migration-design.md
  docs/plans/2026-04-07-phase3-compass-skills-module.md
Due: prettier

fix(plan): address round 2 review findings in Phase 3 plan
  docs/plans/2026-04-06-bmad-upstream-migration-design.md
  docs/plans/2026-04-07-phase3-compass-skills-module.md
Due: prettier

feat(bmad): scaffold compass-skills module with phase directories
  src/bmad/modules/custom/compass-skills/0-governance/.gitkeep
  src/bmad/modules/custom/compass-skills/1-analysis/.gitkeep
  src/bmad/modules/custom/compass-skills/2-plan-workflows/.gitkeep
  src/bmad/modules/custom/compass-skills/3-solutioning/.gitkeep
  src/bmad/modules/custom/compass-skills/4-implementation/.gitkeep
  src/bmad/modules/custom/compass-skills/anytime/.gitkeep
  src/bmad/modules/custom/compass-skills/documentation/.gitkeep
  src/bmad/modules/custom/compass-skills/module-help.csv
  src/bmad/modules/custom/compass-skills/module.yaml
  src/bmad/modules/custom/compass-skills/planning/.gitkeep
Due: prettier

feat(bmad): convert 8 Compass-only agents to skill format in compass-skills
  src/bmad/modules/custom/compass-skills/1-analysis/bmad-agent-design-thinking-coach/SKILL.md
  src/bmad/modules/custom/compass-skills/1-analysis/bmad-agent-design-thinking-coach/bmad-skill-manifest.yaml
  src/bmad/modules/custom/compass-skills/1-analysis/bmad-agent-innovation-strategist/SKILL.md
  src/bmad/modules/custom/compass-skills/1-analysis/bmad-agent-innovation-strategist/bmad-skill-manifest.yaml
  src/bmad/modules/custom/compass-skills/1-analysis/bmad-agent-wds-analyst/SKILL.md
  src/bmad/modules/custom/compass-skills/1-analysis/bmad-agent-wds-analyst/bmad-skill-manifest.yaml
  src/bmad/modules/custom/compass-skills/2-plan-workflows/bmad-agent-wds-designer/SKILL.md
  src/bmad/modules/custom/compass-skills/2-plan-workflows/bmad-agent-wds-designer/bmad-skill-manifest.yaml
  src/bmad/modules/custom/compass-skills/3-solutioning/bmad-agent-security-architect/SKILL.md
  src/bmad/modules/custom/compass-skills/3-solutioning/bmad-agent-security-architect/bmad-skill-manifest.yaml
  src/bmad/modules/custom/compass-skills/3-solutioning/bmad-agent-threat-analyst/SKILL.md
  src/bmad/modules/custom/compass-skills/3-solutioning/bmad-agent-threat-analyst/bmad-skill-manifest.yaml
  src/bmad/modules/custom/compass-skills/4-implementation/bmad-agent-tea/bmad-skill-manifest.yaml
  src/bmad/modules/custom/compass-skills/anytime/bmad-agent-creative-problem-solver/SKILL.md
  src/bmad/modules/custom/compass-skills/anytime/bmad-agent-creative-problem-solver/bmad-skill-manifest.yaml
  tools/validate.js
Due: eslint, prettier

feat(bmad): move data and team configs to compass-skills _resources
  src/bmad/modules/custom/compass-skills/_resources/project-context-template.md
  src/bmad/modules/custom/compass-skills/_resources/teams/default-party.csv
  src/bmad/modules/custom/compass-skills/_resources/teams/team-fullstack.yaml
Due: prettier

feat(bmad): convert custom core module — BMad Master, workflows, tasks
  src/bmad/modules/custom/compass-skills/anytime/bmad-compass-advanced-elicitation/SKILL.md
  src/bmad/modules/custom/compass-skills/anytime/bmad-compass-advanced-elicitation/methods.csv
  src/bmad/modules/custom/compass-skills/anytime/bmad-compass-advanced-elicitation/workflow.md
  src/bmad/modules/custom/compass-skills/anytime/bmad-compass-advanced-elicitation/workflow.xml
  src/bmad/modules/custom/compass-skills/anytime/bmad-compass-autonomous-refinement-loop/SKILL.md
  src/bmad/modules/custom/compass-skills/anytime/bmad-compass-autonomous-refinement-loop/workflow.md
  src/bmad/modules/custom/compass-skills/module-help.csv
  src/bmad/modules/custom/core-skills/bmad-brainstorming/SKILL.md
  src/bmad/modules/custom/core-skills/bmad-brainstorming/brain-methods.csv
  src/bmad/modules/custom/core-skills/bmad-brainstorming/steps/step-01-session-setup.md
  src/bmad/modules/custom/core-skills/bmad-brainstorming/steps/step-01b-continue.md
  src/bmad/modules/custom/core-skills/bmad-brainstorming/steps/step-02a-user-selected.md
  src/bmad/modules/custom/core-skills/bmad-brainstorming/steps/step-02b-ai-recommended.md
  src/bmad/modules/custom/core-skills/bmad-brainstorming/steps/step-02c-random-selection.md
  src/bmad/modules/custom/core-skills/bmad-brainstorming/steps/step-02d-progressive-flow.md
  src/bmad/modules/custom/core-skills/bmad-brainstorming/steps/step-03-technique-execution.md
  src/bmad/modules/custom/core-skills/bmad-brainstorming/steps/step-04-idea-organization.md
  src/bmad/modules/custom/core-skills/bmad-brainstorming/template.md
  src/bmad/modules/custom/core-skills/bmad-brainstorming/workflow.md
  src/bmad/modules/custom/core-skills/bmad-master/SKILL.md
  src/bmad/modules/custom/core-skills/bmad-master/bmad-skill-manifest.yaml
  src/bmad/modules/custom/core-skills/bmad-party-mode/SKILL.md
  src/bmad/modules/custom/core-skills/bmad-party-mode/steps/step-01-agent-loading.md
  src/bmad/modules/custom/core-skills/bmad-party-mode/steps/step-02-discussion-orchestration.md
  src/bmad/modules/custom/core-skills/bmad-party-mode/steps/step-03-graceful-exit.md
  src/bmad/modules/custom/core-skills/bmad-party-mode/workflow.md
Due: prettier

refactor(build): remove buildBmadCompat() shim — all content now in skill format
  tools/build.js
Due: eslint

refactor(validate): remove old-format checks, add all custom modules to skill validation
  tools/validate.js
Due: eslint

docs: mark Phase 3 complete in design document
  docs/plans/2026-04-06-bmad-upstream-migration-design.md
Due: prettier

docs: add Phase 4 implementation plan — manifest migration
  docs/plans/2026-04-07-phase4-manifest-migration.md
Due: prettier

fix(plan): address review findings in Phase 4 plan
  docs/plans/2026-04-06-bmad-upstream-migration-design.md
  docs/plans/2026-04-07-phase4-manifest-migration.md
Due: prettier

fix(plan): address round 2 review findings in Phase 4 plan
  docs/plans/2026-04-06-bmad-upstream-migration-design.md
  docs/plans/2026-04-07-phase4-manifest-migration.md
Due: prettier

feat(build): add YAML parsing and file listing helpers for manifest generation
  tools/build.js
Due: eslint

feat(build): auto-generate agent-manifest.csv from bmad-skill-manifest.yaml files
  tools/build.js
Due: eslint
