Repository Compass-Brand/compass-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

eslint:
  name: eslint
  language: node
  entry: eslint --max-warnings=0 --config .eslint.config.mjs
  additional_dependencies:
  - eslint@9.39.1

prettier:
  name: prettier
  language: node
  entry: prettier --check
  additional_dependencies:
  - prettier@3.6.2

ci: relax markdownlint and codespell noise for imported BMAD content
  .codespellrc
  .lint/markdownlint-library.mjs
  src/root/.codespellrc
  src/root/.lint/markdownlint-library.mjs
Due: eslint

fix: sync github workflow source
  src/github/workflows/quality-checks.yml
Due: prettier

fix: sync ci workflow sources
  .github/workflows/codeql.yml
  .github/workflows/quality-checks.yml
  src/github/workflows/codeql.yml
  src/github/workflows/quality-checks.yml
Due: prettier

fix: allow reviewed NOASSERTION submodules
  .github/workflows/quality-checks.yml
  src/github/workflows/quality-checks.yml
Due: prettier

fix: sync workflow sources and license policy
  .github/workflows/quality-checks.yml
  src/github/workflows/pr-size-labeler.yml
  src/github/workflows/quality-checks.yml
Due: prettier

fix: sync workflow sources and license policy
  .github/workflows/quality-checks.yml
  src/github/workflows/quality-checks.yml
  src/github/workflows/submodule-security-monitoring.yml
Due: prettier

fix: sync workflow sources and license policy
  .github/workflows/quality-checks.yml
  src/github/workflows/github-drift.yml
  src/github/workflows/linting.yml
  src/github/workflows/quality-checks.yml
Due: prettier

chore: sync beads issues for BMAD extension review
  .beads/issues.jsonl
Due: none

docs: add BMAD extension and automation review
  .beads/issues.jsonl
  _planning/current/research/2026-03-10-bmad-flow-extension-and-automation-review.md
Due: prettier

docs: draft BMAD implementation plan
  .beads/issues.jsonl
  _planning/current/planning/2026-03-10-bmad-extension-implementation-plan.md
Due: prettier

Fix push --all repo discovery fallback
  .beads/issues.jsonl
  docs/architecture/sync.md
  tools/push.js
Due: eslint, prettier

chore: ignore local bmad runtime output
  .gitignore
Due: none

docs: revise BMAD plan for reference-first work
  _planning/current/planning/2026-03-10-bmad-extension-implementation-plan.md
Due: prettier

chore: remove legacy adjacent submodules
  .github/profiles/dependabot-submodule-bmad-method.yml
  .github/workflows/linting.yml
  .github/workflows/quality-checks.yml
  .gitmodules
  SUBMODULE_SECURITY.md
  biome.json
  src/github/profiles/dependabot-submodule-bmad-method.yml
  src/github/workflows/linting.yml
  src/github/workflows/quality-checks.yml
  src/root/biome.json
Due: prettier

docs: capture BMAD productization planning notes
  _planning/current/planning/2026-03-10-bmad-extension-implementation-plan.md
  _planning/current/planning/2026-03-13-bmad-reference-productization-plan.md
  _planning/current/planning/2026-03-13-subrepo-removal-readiness-audit.md
Due: prettier

fix: stabilize ci checks for productized corpus
  .codespellrc
  .lint/markdownlint-library.mjs
  .pre-commit-config.yaml
  src/root/.codespellrc
  src/root/.lint/markdownlint-library.mjs
  src/root/.pre-commit-config.yaml
  tools/sync-client-bundles.js
Due: eslint, prettier

fix: satisfy yamllint on productized templates
  planning/framework/current/phase-state.yaml
  planning/templates/phase/phase-state.yaml
  reference/BMAD/modules/custom/bmm/workflows/1-project-brief/templates/vtc-template.yaml
  reference/planning/framework/current/phase-state.yaml
  reference/planning/templates/phase/phase-state.yaml
  src/bmad/modules/custom/bmm/workflows/1-project-brief/templates/vtc-template.yaml
  src/planning/framework/current/phase-state.yaml
  src/planning/templates/phase/phase-state.yaml
Due: prettier

chore: sync beads issue export
  .beads/issues.jsonl
Due: none

fix: sync root biome source
  src/root/biome.json
Due: none

chore: sync beads issue export (#59)
  .beads/issues.jsonl
Due: none

docs: add opencode plugin triage framework
  .beads/issues.jsonl
  planning/framework/current/research/technical/opencode-plugin-portfolio-triage.md
  planning/templates/phase/opencode-plugin-portfolio-triage.md
Due: prettier

chore: close plugin triage setup issue
  .beads/issues.jsonl
Due: none

docs: classify opencode plugin candidates
  .beads/issues.jsonl
  planning/framework/current/research/technical/opencode-plugin-portfolio-triage.md
Due: prettier

docs: refine opencode overlay research
  .beads/issues.jsonl
  planning/framework/current/research/technical/opencode-plugin-portfolio-triage.md
  planning/templates/phase/opencode-plugin-portfolio-triage.md
Due: prettier

docs: score implementable opencode candidates
  .beads/issues.jsonl
  planning/framework/current/research/technical/opencode-plugin-portfolio-triage.md
Due: prettier

docs: approve opencode pilot shortlist
  .beads/issues.jsonl
  planning/framework/current/research/technical/opencode-plugin-portfolio-triage.md
Due: prettier

Path conditions:
  eslint: any of: \.(js|mjs|cjs|jsx|ts|tsx)$, but not: (^reference/BMAD/research/|^\.claude-trace/|.*/fixtures/)
  prettier: any of: \.(ya?ml|md)$, but not: (^reference/BMAD/research/|^\.claude-trace/|.*/fixtures/)
