Repository Compass-Brand/compass-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

eslint:
  name: eslint
  language: node
  entry: eslint --max-warnings=0 --config .eslint.config.mjs
  additional_dependencies:
  - eslint@9.39.1

prettier:
  name: prettier
  language: node
  entry: prettier --check
  additional_dependencies:
  - prettier@3.6.2

docs(bmad): document spec-{slug}.md filenames and lifecycle
  docs/development/bmad/quick-spec-quick-dev.md
Due: prettier

ci(quality-checks): install npm deps before unit tests
  .github/workflows/quality-checks.yml
Due: prettier

docs(bmad): add manual-config-bootstrap runbook
  docs/development/bmad/creating-skills.md
  docs/development/bmad/manual-config-bootstrap.md
Due: prettier

feat(init): wire init subcommand to schema/resolver/writer pipeline
  test/test-init-integration.js
  tools/init.js
Due: eslint

feat(init): schema loader for core + module YAMLs
  tools/init/schema-loader.js
Due: eslint

test(cli): red test for compass-engine init subcommand
  .beads/issues.jsonl
  test/test-cli-init.js
Due: eslint

ci(quality-checks): sync src/github with .github (drift fix)
  .beads/issues.jsonl
  src/github/workflows/quality-checks.yml
Due: prettier

feat(init): default resolver with template expansion
  test/test-init-default-resolver.js
  tools/init/default-resolver.js
Due: eslint

test(init): interactive prompts honoring single-select schema
  test/test-init-interactive.js
Due: eslint

feat(push): add --init flag to bootstrap configs after delivery
  test/test-push-init-flag.js
  tools/push.js
Due: eslint

test(init): red test for schema loader
  package-lock.json
  package.json
  test/test-init-schema-loader.js
Due: eslint

feat(cli): add init subcommand stub
  src/cli.js
  tools/init.js
Due: eslint

feat(init): config writer with idempotency
  test/test-init-config-writer.js
  tools/init/config-writer.js
Due: eslint

refactor(bmad): migrate native bmm agents to direct config.yaml load
  .beads/issues.jsonl
  src/bmad/modules/native/bmm-skills/1-analysis/bmad-agent-analyst/SKILL.md
  src/bmad/modules/native/bmm-skills/1-analysis/bmad-agent-tech-writer/SKILL.md
  src/bmad/modules/native/bmm-skills/2-plan-workflows/bmad-agent-pm/SKILL.md
  src/bmad/modules/native/bmm-skills/2-plan-workflows/bmad-agent-ux-designer/SKILL.md
  src/bmad/modules/native/bmm-skills/3-solutioning/bmad-agent-architect/SKILL.md
  src/bmad/modules/native/bmm-skills/4-implementation/bmad-agent-dev/SKILL.md
Due: prettier

refactor(bmad): remove bmad-init External Skills reference from bmad-product-brief
  src/bmad/modules/native/bmm-skills/1-analysis/bmad-product-brief/SKILL.md
Due: prettier

refactor(bmad): migrate custom bmm agents to direct config.yaml load
  src/bmad/modules/custom/bmm-skills/1-analysis/bmad-agent-analyst/SKILL.md
  src/bmad/modules/custom/bmm-skills/1-analysis/bmad-agent-tech-writer/SKILL.md
  src/bmad/modules/custom/bmm-skills/4-implementation/bmad-agent-quick-flow-solo-dev/SKILL.md
Due: prettier

refactor(bmad): migrate bmad-master to direct config.yaml load (Compass-only, no upstream)
  src/bmad/modules/custom/core-skills/bmad-master/SKILL.md
Due: prettier

refactor(bmad): migrate compass-skills agents to direct config.yaml load
  src/bmad/modules/custom/compass-skills/1-analysis/bmad-agent-design-thinking-coach/SKILL.md
  src/bmad/modules/custom/compass-skills/1-analysis/bmad-agent-innovation-strategist/SKILL.md
  src/bmad/modules/custom/compass-skills/1-analysis/bmad-agent-wds-analyst/SKILL.md
  src/bmad/modules/custom/compass-skills/2-plan-workflows/bmad-agent-wds-designer/SKILL.md
  src/bmad/modules/custom/compass-skills/3-solutioning/bmad-agent-security-architect/SKILL.md
  src/bmad/modules/custom/compass-skills/3-solutioning/bmad-agent-threat-analyst/SKILL.md
  src/bmad/modules/custom/compass-skills/4-implementation/bmad-agent-tea/SKILL.md
  src/bmad/modules/custom/compass-skills/anytime/bmad-agent-creative-problem-solver/SKILL.md
Due: prettier

refactor(bmad): migrate bmad-builder skills to direct config.yaml load
  src/bmad/modules/custom/bmad-builder-skills/bmad-agent-builder/SKILL.md
  src/bmad/modules/custom/bmad-builder-skills/bmad-module-builder/SKILL.md
  src/bmad/modules/custom/bmad-builder-skills/bmad-workflow-builder/SKILL.md
Due: prettier

docs: update skill template to direct config.yaml load pattern
  docs/development/bmad/creating-skills.md
Due: prettier

test(validate): add guard against bmad-init references
  test/test-validate-pure.js
  tools/validate.js
Due: eslint

feat(bmad)!: remove bmad-init skill per BMAD v6.3.0 (PR #2159)
  src/bmad/modules/native/core-skills/bmad-init/SKILL.md
  src/bmad/modules/native/core-skills/bmad-init/resources/core-module.yaml
  src/bmad/modules/native/core-skills/bmad-init/scripts/bmad_init.py
  src/bmad/modules/native/core-skills/bmad-init/scripts/tests/test_bmad_init.py
  src/bmad/modules/native/core-skills/module-help.csv
  tools/init/schema-loader.js
  tools/validate.js
Due: eslint, prettier

feat(marketplace): ship .claude-plugin/marketplace.json with 4 plugins
  .beads/issues.jsonl
  .claude-plugin/marketplace.json
  package-lock.json
  package.json
  test/fixtures/bmad-help.csv.pre-shim
  test/test-marketplace-json.js
  test/test-plugin-resolver-integration.js
  tools/build.js
  tools/generate-marketplace.js
Due: eslint

feat(bmad): narrow PluginResolver shim + version:2 manifest migration
  docs/BMAD-integration.md
  src/documentation/BMAD-integration.md
  test/test-no-network-managers.js
  test/test-plugin-resolver-manifest.js
  test/test-push-manifest-v2.js
  tools/build.js
  tools/push.js
  tools/vendor/plugin-resolver.cjs
Due: eslint, prettier

feat(quick-dev): add A.2 previous story continuity to step-01 (bmad-engine-tkpg)
  src/bmad/modules/custom/bmm-skills/4-implementation/bmad-quick-dev/steps/step-01-mode-detection.md
Due: prettier

chore(beads): normalize issues.jsonl key order via pre-commit hook
  .beads/issues.jsonl
Due: none

feat(quick-dev): add B.0 planning artifact scan to step-01 (bmad-engine-a0iq)
  src/bmad/modules/custom/bmm-skills/4-implementation/bmad-quick-dev/steps/step-01-mode-detection.md
Due: prettier

feat(quick-dev): add A.1 Epic inference to step-01 (bmad-engine-zeml)
  src/bmad/modules/custom/bmm-skills/4-implementation/bmad-quick-dev/steps/step-01-mode-detection.md
Due: prettier

chore(beads): close bmad-engine-zeml after PR #110 opened
  .beads/issues.jsonl
Due: none

feat(bmad): port compile-epic-context sub-agent task into custom bmad-quick-dev
  src/bmad/modules/custom/bmm-skills/4-implementation/bmad-quick-dev/compile-epic-context.md
Due: prettier

feat(bmad): wire epic context into quick-dev step-02 + step-03 with precedence
  src/bmad/modules/custom/bmm-skills/4-implementation/bmad-quick-dev/steps/step-01-mode-detection.md
  src/bmad/modules/custom/bmm-skills/4-implementation/bmad-quick-dev/steps/step-02-context-gathering.md
  src/bmad/modules/custom/bmm-skills/4-implementation/bmad-quick-dev/steps/step-03-execute.md
Due: prettier

test(quick-dev): add epic-scan helpers + step-01 structural tests
  .beads/issues.jsonl
  package.json
  test/bmad/quick-dev/epic-scan.test.js
  test/bmad/quick-dev/step-01-structure.test.js
  tools/quick-dev-scan.js
Due: eslint

fix(ci): regenerate marketplace.json + bmad-help fixture after config migration
  .beads/issues.jsonl
  .claude-plugin/marketplace.json
  test/fixtures/bmad-help.csv.pre-shim
Due: none

Path conditions:
  eslint: any of: \.(js|mjs|cjs|jsx|ts|tsx)$, but not: (^reference/BMAD/research/|^\.claude-trace/|.*/fixtures/)
  prettier: any of: \.(ya?ml|md)$, but not: (^reference/BMAD/research/|^\.claude-trace/|.*/fixtures/)
